docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    executor = 'local'  // Adjust if you are running on a different executor (e.g., 'slurm', 'awsbatch')
    cpus = 3
    memory = '16 GB'
    time = '12h'

    // Enable Docker usage for all processes
    container = 'docker'
}

// Define parameters with default values, which can be overridden by the command line
params {
    ref_fasta = null  // Path to the reference fasta file (provided via command line)
    ref_gtf = null    // Path to the GTF annotation file (provided via command line)
    strand = 0        // Strandness (0 = unstranded, 1 = stranded, 2 = reverse stranded)
    sample_sheet = null  // Path to the sample sheet (provided via command line)
}


process {
    // Define default container if needed
    withName: 'TRIM_GALORE' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_salmon_pruned:02a30cb5ef85c326'
        cpus = 4
        memory = '12 GB'
    }

    withName: 'QC' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_salmon_pruned:02a30cb5ef85c326'
        cpus = 2
        memory = '6 GB'
    }

    withName: 'STAR_INDEX' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_salmon_pruned:02a30cb5ef85c326'
        cpus = 3
        memory = '16 GB'
    }

    withName: 'STAR_MAPPING' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_salmon_pruned:02a30cb5ef85c326'
        cpus = 3
        memory = '8 GB'
    }

    withName: 'FEATURE_COUNT' {
        container = 'alexgilgal/featurecount:latest'
        cpus = 3
        memory = '8 GB'
    }


// Custom logging and reports
timeline {
    enabled = true
    file = "pipeline_timeline.html"
}

trace {
    enabled = true
    file = "pipeline_trace.txt"
}

report {
    enabled = true
    file = "pipeline_report.html"
}

dag {
    enabled = true
    file = "pipeline_dag.png"
}

}