docker {
    // enebles the docker mode 
    enabled = true

    // To provide the User access. 
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    // Adjust according to power of the machine you are running 
    
    executor = 'local'  
    cpus = 3
    memory = '16 GB'
    time = '12h'

    // Enable Docker usage for all processes
    container = 'docker'
}

// Setting the parameters with default values, which can be overridden by the command line
params {
    ref_fasta = null  // Path to the reference fasta file (provided via command line)
    ref_gtf = null    // Path to the GTF annotation file (provided via command line)
    strand = 0        // Strandness (0 = unstranded, 1 = stranded, 2 = reverse stranded)
    //sample_sheet = null  // Path to the sample sheet (provided via command line)
}

 //defining the containers for each tools, here we used the seqera.io to generate the docker with multiple tools.

process { 

    withName: 'VERSIONS' {
        // Use a container that includes all the necessary tools (adjust if needed)
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_star_pruned:040af6e70566a925'
        cpus = 1
        memory = '1 GB'
    }


    withName: 'TRIM_GALORE' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_star_pruned:040af6e70566a925'
        cpus = 4
        memory = '12 GB'
    }
    

    withName: 'TRIM_FASTP' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_star_pruned:040af6e70566a925'
        cpus = 4
        memory = '16 GB'
    }

    
    withName: 'QC' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_star_pruned:040af6e70566a925'
        cpus = 2
        memory = '6 GB'
    }

    withName: 'STAR_INDEX' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_star_pruned:040af6e70566a925'
        cpus = 3
        memory = '16 GB'
    }

    withName: 'STAR_MAPPING' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_star_pruned:040af6e70566a925'
        cpus = 3
        memory = '8 GB'
    }

    withName: 'FEATURE_COUNT' {
        container = 'community.wave.seqera.io/library/fastp_fastqc_multiqc_star_pruned:040af6e70566a925'
        
    }
    


}
